.ToT {
    padding: 5px 20px 20px 40px;
    flex: 1;
}
.discrpTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.discrpTitle p{
    color: var(--blue-1);
    font-weight: 600;
}

.discrpTitle span{
    color: var(--dark-1);
    font-weight: 600;
}

